jupyterlab==4.3.6
jupyterlab-language-pack-ja-JP==4.3.post3
black
isort
numpy 
pandas 
opencv-python 
scrapy
scipy
scikit-learn
pycaret
matplotlib
japanize_matplotlib
mlxtend
seaborn
plotly
requests
beautifulsoup4
Pillow
leafmap
xpath-py
fsspec
boto3
s3fs
