jupyterlab
jupyterlab-language-pack-ja-JP 
black 
isort
jupyterlab-git 
jupyterlab-github 
jupyterlab-drawio
numpy 
pandas 
opencv-python 
scrapy
scipy
scikit-learn
pycaret
matplotlib
japanize_matplotlib
mlxtend
seaborn
plotly
requests
beautifulsoup4
Pillow
leafmap
xpath-py
fsspec
s3fs